.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 20px;
}

.error {
  border: red 2px solid;
}

.error-message {
  color: red;
}

.error-button {
  background-color: rgba(255, 0, 0, .3);
}

.active-filter {
  background-color: aquamarine;
  border: 1px solid grey;
  border-radius: 5px;
}

.is-done {
  opacity: 0.5;
}
