.App {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

.cutText {
  width : 150px;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}